cutter_order_import_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Begin of group definitions -->
    <xs:group name="position">
        <xs:sequence>
            <xs:element name="position">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="width" />
                        <xs:element name="height" />
                        <xs:element name="quantity" />
                        <xs:element name="structureName" />
                        <xs:element name="structureCode" />
                        <xs:element name="structureCode2" minOccurs="0" />
                        <xs:element name="product" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="glass1" />
                                    <xs:element name="spacer1" minOccurs="0">
                                        <xs:complexType mixed="true">
                                            <xs:attribute name="thickness" type="xs:float" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="gas1" minOccurs="0" />
                                    <xs:element name="glass2" minOccurs="0" />
                                    <xs:element name="spacer2" minOccurs="0">
                                        <xs:complexType mixed="true">
                                            <xs:attribute name="thickness" type="xs:float" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="gas2" minOccurs="0" />
                                    <xs:element name="glass3" minOccurs="0" />
                                    <xs:element name="spacer3" minOccurs="0">
                                        <xs:complexType mixed="true">
                                            <xs:attribute name="thickness" type="xs:float"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="gas3" minOccurs="0" />
                                    <xs:element name="glass4" minOccurs="0" />
                                    <xs:element name="spacer4" minOccurs="0">
                                        <xs:complexType mixed="true">
                                            <xs:attribute name="thickness" type="xs:float" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="gas4" minOccurs="0" />
                                    <xs:element name="glass5" minOccurs="0" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" />
                        <xs:element name="delivery_date" minOccurs="0" />
                        <xs:element name="key" minOccurs="0" />
                        <xs:element name="additional_description" minOccurs="0" />
                        <xs:group ref="custom_glazing_bar" />
                        <xs:element name="additionalInfo" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType mixed="true">
                                <xs:attribute name="type" type="xs:integer" use="required" />
                                <xs:attribute name="comment" type="xs:string" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:group name="custom_glazing_bar">
        <xs:sequence>
            <xs:element name="custom_glazing_bar" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="frame" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="w1" minOccurs="0"></xs:element>
                                                <xs:element name="w2" minOccurs="0"></xs:element>
                                                <xs:element name="w3" minOccurs="0"></xs:element>
                                                <xs:element name="w4" minOccurs="0"></xs:element>
                                                <xs:element name="w5" minOccurs="0"></xs:element>
                                                <xs:element name="w6" minOccurs="0"></xs:element>
                                                <xs:element name="w7" minOccurs="0"></xs:element>
                                                <xs:element name="w8" minOccurs="0"></xs:element>
                                                <xs:element name="w9" minOccurs="0"></xs:element>
                                                <xs:element name="h1" minOccurs="0"></xs:element>
                                                <xs:element name="h2" minOccurs="0"></xs:element>
                                                <xs:element name="h3" minOccurs="0"></xs:element>
                                                <xs:element name="h4" minOccurs="0"></xs:element>
                                                <xs:element name="h5" minOccurs="0"></xs:element>
                                                <xs:element name="h6" minOccurs="0"></xs:element>
                                                <xs:element name="h7" minOccurs="0"></xs:element>
                                                <xs:element name="h8" minOccurs="0"></xs:element>
                                                <xs:element name="h9" minOccurs="0"></xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="dimmensions">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="w1" minOccurs="0"></xs:element>
                                                <xs:element name="w2" minOccurs="0"></xs:element>
                                                <xs:element name="w3" minOccurs="0"></xs:element>
                                                <xs:element name="w4" minOccurs="0"></xs:element>
                                                <xs:element name="w5" minOccurs="0"></xs:element>
                                                <xs:element name="w6" minOccurs="0"></xs:element>
                                                <xs:element name="w7" minOccurs="0"></xs:element>
                                                <xs:element name="w8" minOccurs="0"></xs:element>
                                                <xs:element name="w9" minOccurs="0"></xs:element>
                                                <xs:element name="h1" minOccurs="0"></xs:element>
                                                <xs:element name="h2" minOccurs="0"></xs:element>
                                                <xs:element name="h3" minOccurs="0"></xs:element>
                                                <xs:element name="h4" minOccurs="0"></xs:element>
                                                <xs:element name="h5" minOccurs="0"></xs:element>
                                                <xs:element name="h6" minOccurs="0"></xs:element>
                                                <xs:element name="h7" minOccurs="0"></xs:element>
                                                <xs:element name="h8" minOccurs="0"></xs:element>
                                                <xs:element name="h9" minOccurs="0"></xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="material">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="w1" minOccurs="0"></xs:element>
                                                <xs:element name="w2" minOccurs="0"></xs:element>
                                                <xs:element name="w3" minOccurs="0"></xs:element>
                                                <xs:element name="w4" minOccurs="0"></xs:element>
                                                <xs:element name="w5" minOccurs="0"></xs:element>
                                                <xs:element name="w6" minOccurs="0"></xs:element>
                                                <xs:element name="w7" minOccurs="0"></xs:element>
                                                <xs:element name="w8" minOccurs="0"></xs:element>
                                                <xs:element name="w9" minOccurs="0"></xs:element>
                                                <xs:element name="h1" minOccurs="0"></xs:element>
                                                <xs:element name="h2" minOccurs="0"></xs:element>
                                                <xs:element name="h3" minOccurs="0"></xs:element>
                                                <xs:element name="h4" minOccurs="0"></xs:element>
                                                <xs:element name="h5" minOccurs="0"></xs:element>
                                                <xs:element name="h6" minOccurs="0"></xs:element>
                                                <xs:element name="h7" minOccurs="0"></xs:element>
                                                <xs:element name="h8" minOccurs="0"></xs:element>
                                                <xs:element name="h9" minOccurs="0"></xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="no" type="xs:integer"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <!-- End of group definitions -->
    <!-- ================================= -->
    <xs:element name="cutterImportOrderFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="original_filename" />
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="additionalInfo" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="type" type="xs:integer" use="required" />
                                    <xs:attribute name="comment" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="delivery" />
                            <xs:element name="customer_name" />
                            <xs:element name="numberByCustomer" />
                            <xs:element name="order_date" />
                            <xs:element name="notes" />
                            <xs:element name="internal_number" />
                            <xs:element name="end_user_name2" />
                            <xs:element name="delivery_date" />
                            <xs:element name="customer_date" />
                            <xs:group ref="position" />
                        </xs:sequence>
                        <xs:attribute name="comment" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="format_version" type="xs:string" />
            <xs:attribute name="script_version" type="xs:string" />
            <xs:attribute name="script" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>